<div id="<%= dom_id listing %>">
  <p>
    <strong>Name:</strong>
    <%= listing.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= listing.url %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= listing.logo %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= listing.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= listing.category_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= listing.address %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= listing.lat %>
  </p>

  <p>
    <strong>Long:</strong>
    <%= listing.long %>
  </p>

</div>
